@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/*Text*/
.critical {
 color: red;
 font-weight: bold;
}

.recovered {
 color: green;
 font-weight: bold;
}

.mild {
 color: #CCCC00;
 font-weight: bold;
}

.death {
 color: black;
 font-weight: bold;
}

.active-total {
  color: #696969;
}

.headers {
  font-family: 'Roboto Slab', serif;
}


/*Navbar*/
.active {
  border-bottom: 2px solid white;
}

/*Home*/
.home-container {
	min-height: 100vh;
}

/*Countries*/

.countries-container {
	min-height: 100vh;
}

/*Country*/
.country-container {
	min-height:  100vh;
}

.mapContainer {
  min-height: 40vh; 
  width: 100%
}

/*Insight*/
.container-insight {
  min-height: 100vh;
}

/*Loader*/
.loader-container {
  min-height: 100vh;
}

.loader,
.loader:before,
.loader:after {
  background: #2196f3;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #2196f3;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}